.younow{
	
	font-family: 'Russo One', sans-serif;
	text-align:left;
	padding-top:20px;
	bolder:bolder;
	color:#39FF14;
	
	padding:12;font-size:15; letter-spacing:0.5 ; font-weight:500; 
	font-family: 'Russo One', sans-serif;
	text-align:top;
	
	
}

.kick{
	text-align:left;
	padding-top:20px;
	color:#39FF14;
	bolder:bolder;
	padding:12;font-size:15; letter-spacing:0.5 ; font-weight:500; 
	font-family: 'Russo One', sans-serif;
	text-align:top;
}